@import "../../css/units.css";
@import "../../css/colors.css";


.library-scroll-grid {
    /* display: flex; */

    /* 
        This works in concert with the Lost waffle (tile) grid declared on .library-item 
        https://codepen.io/lifeinchords/pen/qrboMR
    */
    /* height: 100vw;  */
    /* width: 100%; */
    height: 100%;
    overflow-y: scroll;
}

.modal-header {
    width: 100%;
    margin-bottom: 3rem;
    padding: 0.5rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: normal;
    background-color: $ui-pane-gray;
    color: #8e8f95;
    border-bottom: 1px solid lightgray;
}
